{% extends "base.html" %}

{% block title %}{{ post.metadata.title }}{% endblock %}

{% block meta_description %}
{{ post.metadata.description[:150] }}
{% endblock %}


{% block content %}
<div class="blog-post-content">
    <h1>{{ post.metadata.title }}</h1>
    <p><em>{{ post.metadata.date }}</em></p>
    <div>{{ post.content | safe }}</div>
</div>
{% endblock %}
<script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "BlogPosting",
      "headline": "{{ post.metadata.title or 'SmartBookFinder Blog' }}",
      "description": "{{ post.metadata.description[:150] or 'SmartBookFinder Blog' }}",
      "datePublished": "{{ post.metadata.date or '2025-01-01' }}",
      "author": {
        "@type": "Person",
        "name": "{{ post.metadata.author or 'Jacob Ferraiolo' }}"
      },
      "publisher": {
        "@type": "Organization",
        "name": "SmartBookFinder Blog",
      },
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "{{ request.url }}"
      }
    }
    </script>
        
    