{% extends "base.html" %}

{% block title %}Home - My Blog{% endblock %}

{% block content %}
    <h1>Blog</h1>
    <div class="featured-post">
        <a href="/blog/best-books-to-understand-the-tiktok-ban">
        <h2>Featured Post</h2>
        </a>
        <div class="post">
            <a href="/blog/best-books-to-understand-the-tiktok-ban">
                <img src="https://m.media-amazon.com/images/I/41XJUXNBuhL._SY445_SX342_PQ1_.jpg" alt="Best Books to Understand the TikTok Ban" style="max-width:30%; height:auto;">
                <h3>Best Books to Understand the TikTok Ban</h3>
            </a>
        </div>
    </div>
    <h2>All blog posts</h2>
    <div class="blog-list">
    <ul>
        {% for post in posts %}
            <div class="blog-post">

            <a href="/blog/{{ post.metadata.title.replace(' ', '-').lower() }}">
                <img src={{post.metadata['img']}} alt="Top 5 Books About Dreams" style="max-width:30%; height:auto;">
                <h3>{{ post.metadata['title'] }}</h3>
            </a>
            </div>
        {% endfor %}
    </ul>
        </div>
{% endblock %}
