{% if all_book_metadata %}
<h2>Recommended Books:</h2>
<div>
    {% for book in all_book_metadata %}
        <div class="book">
            <a href="{{ book.amazon_link }}"><h3>{{ book.title }}</h3></a>
            {% if book.thumbnail and book.amazon_link %}
            <div class="book-thumbnail">
                <a href="{{ book.amazon_link }}" target="_blank" data-ga-event="{{ book.ga_event }}">
                    <img src="{{ book.thumbnail }}" alt="Book cover">
                </a>
            </div>
            {% elif book.thumbnail %}
                <div class="book-thumbnail">
                    <a href="{{ book.amazon_link }}"><img src="{{ book.thumbnail }}" alt="Book cover"></a>
                </div>
            {% endif %}
            <p><strong>Authors:</strong> {{ book.authors[0] if book.authors else "N/A" }}</p>
            <p class="book-description">
                {% if book.description %}
                {{ book.description[:200] }}
                    {% if book.description|length > 200 %}
                        <span class="ellipsis">...</span>
                        <span class="more-text" style="display: none;"> {{ book.description }}</span>
                        <a href="javascript:void(0);" class="see-more" onclick="toggleDescription(this)">See More</a>
                    {% endif %}
                {% else %}
                    <p>No description available.</p>
                {% endif %}
            </p>
            <p class="book-description">
                {% if book.reason %}
                <strong>Why this book was recommended:</strong> {{ book.reason }}
                    {% if book.reason|length > 200 %}
                        <span class="ellipsis">...</span>
                        <span class="more-text" style="display: none;"><strong>Why this book was recommended:</strong> {{ book.reason }}</span>
                        <a href="javascript:void(0);" class="see-more" onclick="toggleDescription(this)">See More</a>
                    {% endif %}
                {% else %}
                    <p>No reason available.</p>
                {% endif %}
            </p>

            <p><strong>Categories:</strong> {{ book.categories | join(", ") if book.categories else "N/A" }}</p>
            <p><strong>Published Date:</strong> {{ book.publishedDate or "N/A" }}</p>
            <p><strong>Page Count:</strong> {{ book.pageCount or "N/A" }}</p>
            <a href="{{ book.amazon_link }}" class="buy-button">View on Amazon</a>
        </div>
    {% endfor %}
</div>
{% endif %}
