{% extends "base.html" %}

{% block content %}
<!-- Example for read_books.html -->
<div class="book-list-section">
    <h1>Want to Read</h1>
    <div class="book-grid">
        {% for book in books %}
        <div class="book-card">
            <a href="{{ url_for('book_page', isbn=book.book.isbn) }}">
                <div class="book-thumbnail">
                    {% if book.book.thumbnail %}
                    <img src="{{ book.book.thumbnail }}" alt="{{ book.book.title }}" onerror="this.src='/static/images/default-cover.jpg';">
                    {% else %}
                    <div class="no-thumbnail">
                    <span>No Image Available</span>
                </div>
                {% endif %}
            </div>
            </a>
            <div class="book-info">
                <h2>{{ book.book.title }}</h2>
                <p>{{ book.book.author.replace("\"", '').replace("{", '').replace("}", '') }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}